body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #fullscreenBtn {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
} */
